html, body {
    font-family: 'Press Start 2P', cursive;
    background-color: #4ddbff;
    height: 100%;
}

html {
    background-color: red;
}

a,
a:hover,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}